<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @test_scaffold.title %>
</p>

<%= link_to 'Edit', edit_test_scaffold_path(@test_scaffold) %> |
<%= link_to 'Back', test_scaffolds_path %>
